extends layout

block content
	div.container
		h1 Program Name
		p Hello World
	.row
		.col-md-12
			I will put some text here. This will probably be some instructional information.
			for item in items
				.row
					.col-md-10.col-md-offset-1
						item
